h1{
	font-size: 40px;
	font-family: Halflings;
	/*border: 1px dashed blue;*/
	text-align: center;
}

.footer{
	font-size: 10px;
	font-family: Lucidia;
	margin-left: 10px;
	margin-top: 600px;
}

img{
	height: 500px;
	width: 500px;
	position: absolute;
	display: block;
	right: 0;
	left: 0;
	margin: auto;
}
img#head{
	height: 10px;
	width: 10px;
	position: absolute;
	margin: auto;
	margin-top: 50px;
	border: 1px groove #607D8B;
}
img#legs{
	height: 10px;
	width: 10px;
	position: absolute;
	margin-left: 650px;
	margin-top: 360px;
	border: 1px groove #607D8B;
}
img#torso{
	height: 10px;
	width: 10px;
	position: absolute;
	margin: auto;
	margin-top: 200px;
	border: 1px groove #607D8B;
}
img#heart{
	height: 20px;
	width: 20px;
	position: absolute;
	margin-left: 685px;
	margin-top: 150px;
}
img#genitalia{
	height: 10px;
	width: 10px;
	position: absolute;
	margin: auto;
	margin-top: 263px;
	border: 1px groove #607D8B;
}
@font-face{
	font-family: Halflings;
	src: url(fonts/glyphicons-halflings-regular.woff);
}